# WordPress core files (exclude to keep repo leggero)
wp-admin/
wp-includes/

# Cache, temp, log files
wp-content/cache/
wp-content/backups/
wp-content/ai1wm-backups/
wp-content/plugins/hello.php
wp-content/plugins/akismet/
wp-content/plugins/.*.log
wp-content/plugins/.*.tmp
wp-content/uploads/cache/
*.log
*.tmp

# System files
.DS_Store
Thumbs.db
desktop.ini
*.swp

# IDE / Editor files
.vscode/
.idea/

# Node / Build files
node_modules/
dist/

# Backups
*.wpress
*.sql